.layout {
    display: flex;
  }
  
  .App {
  /*   padding-top: 70px;
    padding-left: 240px; */
    width: 100%;
    color: black;
    background: linear-gradient(106.37deg,
        #cbeff5 29.63%,
        #76e0d2 51.55%,
        #3e98c7 90.85%);
    display: flex;  
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
  }
  
  .AppGlass {
    display: grid;
    height: 97%;
    width: 97%;
    background: rgba(255, 255, 255, 0.54);
    border-radius: 2rem;
    gap: 16px;
    grid-template-columns: auto 35%;
    overflow: hidden;
  }
  
  @media screen and (max-width: 1200px) {
    .App {
      width: auto;
      display: grid;
      height: 140vh;
    }
  
    .AppGlass {
      gap: 10px;
      grid-template-columns: 55% 45%;
      overflow-y: scroll;
    }
  }
  
  @media screen and (max-width: 800px) {
    .App {
      width: 100%;
    }
  
    .AppGlass {
      grid-template-columns: 1fr;
    }
  }